<web-app>
    <servlet>
        <servlet-name>ProdutoController</servlet-name>
        <servlet-class>controller.ProdutoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutoController</servlet-name>
        <url-pattern>/ProdutoController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>